Repository MITLibraries/oai-pmh-harvester: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-apply, mypy, ruff-apply

.pre-commit-config.yaml:

default_language_version:
  python: python3.11 # set for project python version
repos:
  - repo: local
    hooks:
      - id: black-apply
        name: black-apply
        entry: pipenv run black
        language: system
        pass_filenames: true
        types: ["python"]
      - id: mypy
        name: mypy
        entry: pipenv run mypy
        language: system
        pass_filenames: true
        types: ["python"]
        exclude: "tests/"
      - id: ruff-apply
        name: ruff-apply
        entry: pipenv run ruff check --fix
        language: system
        pass_filenames: true
        types: ["python"]
      - id: safety
        name: safety
        entry: pipenv check
        language: system
        pass_filenames: false

Changes requested by linters
  Pipfile
  Pipfile.lock
  harvester/__init__.py
  harvester/cli.py
  harvester/config.py
  harvester/exceptions.py
  harvester/oai.py
  harvester/utils.py
  pyproject.toml
  setup.cfg
  tests/__init__.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_oai.py
Due: black-apply, mypy, ruff-apply

Rename fixture 'cli_runner' -> 'runner'
  tests/conftest.py
  tests/test_cli.py
Due: black-apply, ruff-apply

Update PR template
  .github/pull-request-template.md
Due: none

Set permission for cli.py to 'not executable'
  harvester/cli.py
Due: black-apply, mypy, ruff-apply

Update README
  README.md
  harvester/cli.py
Due: black-apply, mypy, ruff-apply

Encapsulate configuration functions in a class
  harvester/cli.py
  harvester/config.py
  harvester/oai.py
  tests/conftest.py
  tests/test_config.py
Due: black-apply, mypy, ruff-apply

Update vcr fixtures and unit tests
  tests/fixtures/vcr_cassettes/cli-all-options-except-set-spec.yaml
  tests/fixtures/vcr_cassettes/get-identifiers-no-matches.yaml
  tests/fixtures/vcr_cassettes/get-identifiers.yaml
  tests/fixtures/vcr_cassettes/get-records-exclude-deleted.yaml
  tests/fixtures/vcr_cassettes/get-records-include-deleted.yaml
  tests/fixtures/vcr_cassettes/get-records-two-errors.yaml
  tests/fixtures/vcr_cassettes/get-sets.yaml
  tests/fixtures/vcr_cassettes/harvest-from-set.yaml
  tests/fixtures/vcr_cassettes/harvest-get-method-no-records.yaml
  tests/fixtures/vcr_cassettes/harvest-list-method-no-records.yaml
  tests/fixtures/vcr_cassettes/list-records-exclude-deleted.yaml
  tests/fixtures/vcr_cassettes/list-records-include-deleted.yaml
  tests/fixtures/vcr_cassettes/record-not-found.yaml
  tests/fixtures/vcr_cassettes/write-records.yaml
  tests/test_oai.py
Due: black-apply, ruff-apply

Update type hinting for utils.send_sentry_message
  harvester/utils.py
Due: black-apply, mypy, ruff-apply

Update Pipfile.lock
  Pipfile.lock
Due: none

Update Python version and dependencies
  .python-version
  Dockerfile
  Pipfile
  Pipfile.lock
  pyproject.toml
Due: none

OAIClient.get_record catch RequestException
  Pipfile.lock
  harvester/oai.py
  tests/test_oai.py
  tests/tests/fixtures/vcr_cassettes/get-identifiers-no-matches.yaml
  tests/tests/fixtures/vcr_cassettes/get-identifiers.yaml
  tests/tests/fixtures/vcr_cassettes/get-records-exclude-deleted.yaml
  tests/tests/fixtures/vcr_cassettes/get-records-include-deleted.yaml
  tests/tests/fixtures/vcr_cassettes/get-records-two-errors.yaml
  tests/tests/fixtures/vcr_cassettes/get-sets.yaml
  tests/tests/fixtures/vcr_cassettes/list-records-exclude-deleted.yaml
  tests/tests/fixtures/vcr_cassettes/list-records-include-deleted.yaml
  tests/tests/fixtures/vcr_cassettes/record-not-found.yaml
  tests/tests/fixtures/vcr_cassettes/write-records.yaml
Due: black-apply, mypy, ruff-apply

Update README re: environment variables
  README.md
Due: none

add trailing comma to tuple
  harvester/config.py
Due: black-apply, mypy, ruff-apply

update readme re- envs
  README.md
Due: none

Remove SENTRY_DSN from required env vars
  README.md
  harvester/config.py
  tests/test_config.py
Due: black-apply, mypy, ruff-apply

Replace pipenv check with pip-audit
  .pre-commit-config.yaml
  Makefile
  Pipfile
  Pipfile.lock
Due: none

Update dependencies and linting
  Pipfile.lock
  pyproject.toml
Due: none

Migrate to uv and align with 2026-04-10 spec
  .github/pull-request-template.md
  .github/workflows/ci.yml
  .github/workflows/dev-build.yml
  .github/workflows/prod-promote.yml
  .github/workflows/stage-build.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  Dockerfile
  Makefile
  Pipfile
  Pipfile.lock
  README.md
  harvester/cli.py
  harvester/config.py
  pyproject.toml
  setup.py
  uv.lock
Due: black-apply, mypy, ruff-apply

Add CODEOWNERS file
  .github/CODEOWNERS
Due: none

Update dependencies
  uv.lock
Due: none

Add 502 as status code to retry
  harvester/config.py
Due: black-apply, mypy, ruff-apply

Support request header mixins
  README.md
  harvester/cli.py
  harvester/config.py
  harvester/oai.py
  tests/test_cli.py
  tests/test_oai.py
Due: black-apply, mypy, ruff-apply
